{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">No Warehouse Assigned</h3>
                </div>
                <div class="card-body text-center">
                    <p class="lead">You are registered as a warehouse manager, but no warehouse has been assigned to you yet.</p>
                    <p>Please contact the administrator to get assigned to a warehouse.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 